extends layout

block content
    #pcontainer
        #vscroll.column
            #upnav ^
            | &#x9;
            #thumbnails
                .thumbnail
                    h2.thumbnum 01
                    | &#x9;&#x9;&#x9;
                    img(src='/images/watchthumb.png', alt='watch thumbnail')
                    | &#x9;&#x9;&#x9;
                    h3.thumbname EL PRIMERO
                    | &#x9;&#x9;&#x9;
                .thumbnail
                    h2.thumbnum 02
                    | &#x9;&#x9;&#x9;
                    img(src='/images/watchthumb.png', alt='watch thumbnail')
                    | &#x9;&#x9;&#x9;
                    h3.thumbname CHALLENGER
                    | &#x9;&#x9;&#x9;
                .thumbnail.selected
                    h2.thumbnum 03
                    | &#x9;&#x9;&#x9;
                    img(src='/images/watchthumb.png', alt='watch thumbnail')
                    | &#x9;&#x9;&#x9;
                    h3.thumbname ACADEMY
                    | &#x9;&#x9;&#x9;
                .thumbnail
                    h2.thumbnum 04
                    | &#x9;&#x9;&#x9;
                    img(src='/images/watchthumb.png', alt='watch thumbnail')
                    | &#x9;&#x9;&#x9;
                    h3.thumbname ELITE
                    | &#x9;&#x9;&#x9;
                .thumbnail
                    h2.thumbnum 05
                    | &#x9;&#x9;&#x9;
                    img(src='/images/watchthumb.png', alt='watch thumbnail')
                    | &#x9;&#x9;&#x9;
                    h3.thumbname PILOT
                    | &#x9;&#x9;&#x9;
                .thumbnail
                    h2.thumbnum 06
                    | &#x9;&#x9;&#x9;
                    img(src='/images/watchthumb.png', alt='watch thumbnail')
                    | &#x9;&#x9;&#x9;
                    h3.thumbname ELITE
                    | &#x9;&#x9;&#x9;
                .thumbnail
                    h2.thumbnum 07
                    | &#x9;&#x9;&#x9;
                    img(src='/images/watchthumb.png', alt='watch thumbnail')
                    | &#x9;&#x9;&#x9;
                    h3.thumbname ACADEMY
                    | &#x9;
            #downnav ^
        #info.column
            .overlap
                h1.title #{specs.collection}
                | &#x9;&#x9;
                h1.position  02/07
                | &#x9;
                h3.type #{specs.name}
                | &#x9;
                h3.diameter #{specs.diameter} MM
                | &#x9;
                h4.measure #{specs.calibre}
                | &#x9;
            #categories
                #menu.menusection
                    #movementm.category
                        span.icon-movment_off.general-ui-icon.icon
                        .ctitle
                            | MOVEMENT
                        | &#x9;&#x9;
                    #featuresm.category
                        span.icon-features_off.general-ui-icon.icon
                        .ctitle
                            | FEATURES
                            | &#x9;&#x9;
                    #externalm.category
                        span.icon-externals_off.general-ui-icon.icon
                        .ctitle
                            | EXTERNAL
                            | &#x9;&#x9;
                    #variationsm.category
                        span.icon-variation_off.general-ui-icon.icon
                        .ctitle
                            | VARIATIONS
                            | &#x9;&#x9;
                    #inspirationm.category
                        span.icon-inspiration_off.general-ui-icon.icon
                        .ctitle
                            | INSPIRATIONS
                            | &#x9;&#x9;
                    #buym.category
                        span.icon-buy_off.general-ui-icon.icon
                        br
                        | BUY
                #movement.menusection
                    .back <
                    h2 Movement
                    h3 Frequency
                    h4 #{specs.frequency}
                    h3 Movement
                    h4 #{specs.movement}
                    h3 Calibre
                    h4 #{specs.calibre}
                    h3 Components
                    h4 #{specs.components}
                    h3 Crystal
                    h4 #{specs.crystal}
                    h3 Jewels
                    h4 #{specs.jewels}
                #features.menusection
                    .back <
                    h2 Features
                    h3 Water Resistance
                    h4 #{specs.waterResistance} ATM
                    h3 Power Reserve
                    h4 #{specs.powerReserve}
                    h3 Production Model
                    h4 #{specs.productionModel}
                #external.menusection
                    .back <
                    h2 External
                    h3 Strap
                    h4 #{specs.strap}
                    h3 Finishing
                    h4 #{specs.finishing}
                    h3 Case Back
                    h4 #{specs.caseBack}
                    h3 Clasp
                    h4 #{specs.clasp}
                    h3 Diameter
                    h4 #{specs.diameter}
                    h3 Thickness
                    h4 #{specs.thickness}
                #variations.menusection
                    .back <
                    h2 Variations
                    h3 Number of Variations
                    h4 #{specs.variations}
                #inspirations.menusection
                    .back <
                    h2 Inspiration
                    h3 Icon Story
                    h4 #{specs.icon}
                #buy.menusection
                    .back <
                    h2 Buy
                    h3 Price
                    h4 #{specs.price}
        #media.column
            #escape
                a(href="/watchselection").go-to-page
                    img(src='../images/watches/close.png')
            #model
                #ThreeJS(style="position: absolute; left:0px; top:0px")
            #details
                img(src='/images/categories/movement_detail.svg', alt='category details')
                h3 Movement
                p
                | He soon understood that he would have to revolutionize production methods if he were to achieve this- for at the time, artisans were scattered among small workshops in the surrounding region or worked from home
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js")
    script(src="/javascripts/OBJLoader.js")
    script(src="/javascripts/product.js")
