extends layout

block content
    #pcontainer
        #vscroll.column
            #upnav.vscrollnav 
                img(src='/images/up_arrow.svg', alt='up arrow')
            | &#x9;
            #thumbnails
                a(href="../product/1") 
                    #1.thumbnail
                        h2.thumbnum 01
                        | &#x9;&#x9;&#x9;
                        img(src='/images/watchthumb.png', alt='watch thumbnail')
                        | &#x9;&#x9;&#x9;
                        h3.thumbname Reserve
                        | &#x9;&#x9;&#x9;
                a(href="../product/2") 
                    #2.thumbnail
                        h2.thumbnum 02
                        | &#x9;&#x9;&#x9;
                        img(src='/images/watchthumb.png', alt='watch thumbnail')
                        | &#x9;&#x9;&#x9;
                        h3.thumbname 1969
                        | &#x9;&#x9;&#x9; 
                a(href="../product/3") 
                    #3.thumbnail
                        h2.thumbnum 03
                        | &#x9;&#x9;&#x9;
                        img(src='/images/watchthumb.png', alt='watch thumbnail')
                        | &#x9;&#x9;&#x9;
                        h3.thumbname Auto
                        | &#x9;&#x9;&#x9;       
                a(href="../product/4") 
                    #4.thumbnail
                        h2.thumbnum 04
                        | &#x9;&#x9;&#x9;
                        img(src='/images/watchthumb.png', alt='watch thumbnail')
                        | &#x9;&#x9;&#x9;
                        h3.thumbname Lightweight
                        | &#x9;&#x9;&#x9;    
                a(href="../product/5") 
                    #5.thumbnail
                        h2.thumbnum 05
                        | &#x9;&#x9;&#x9;
                        img(src='/images/watchthumb.png', alt='watch thumbnail')
                        | &#x9;&#x9;&#x9;
                        h3.thumbname Night
                        | &#x9;&#x9;&#x9;  
                a(href="../product/6") 
                    #6.thumbnail
                        h2.thumbnum 06
                        | &#x9;&#x9;&#x9;
                        img(src='/images/watchthumb.png', alt='watch thumbnail')
                        | &#x9;&#x9;&#x9;
                        h3.thumbname 36'000
                        | &#x9;&#x9;&#x9;   
                a(href="../product/7") 
                    #7.thumbnail
                        h2.thumbnum 07
                        | &#x9;&#x9;&#x9;
                        img(src='/images/watchthumb.png', alt='watch thumbnail')
                        | &#x9;&#x9;&#x9;
                        h3.thumbname Original
                        | &#x9;&#x9;&#x9;
                a(href="../product/8") 
                    #8.thumbnail
                        h2.thumbnum 08
                        | &#x9;&#x9;&#x9;
                        img(src='/images/watchthumb.png', alt='watch thumbnail')
                        | &#x9;&#x9;&#x9;
                        h3.thumbname Spindrift
                        | &#x9;&#x9;&#x9;        
                a(href="../product/9") 
                    #9.thumbnail
                        h2.thumbnum 09
                        | &#x9;&#x9;&#x9;
                        img(src='/images/watchthumb.png', alt='watch thumbnail')
                        | &#x9;&#x9;&#x9;
                        h3.thumbname Tribute
                        | &#x9;&#x9;&#x9;             
                a(href="../product/10") 
                    #10.thumbnail
                        h2.thumbnum 10
                        | &#x9;&#x9;&#x9;
                        img(src='/images/watchthumb.png', alt='watch thumbnail')
                        | &#x9;&#x9;&#x9;
                        h3.thumbname Tourbillon
                        | &#x9;&#x9;&#x9;   
                a(href="../product/11") 
                    #11.thumbnail
                        h2.thumbnum 11
                        | &#x9;&#x9;&#x9;
                        img(src='/images/watchthumb.png', alt='watch thumbnail')
                        | &#x9;&#x9;&#x9;
                        h3.thumbname Annual
                        | &#x9;&#x9;&#x9;  
                a(href="../product/12") 
                    #12.thumbnail
                        h2.thumbnum 12
                        | &#x9;&#x9;&#x9;
                        img(src='/images/watchthumb.png', alt='watch thumbnail')
                        | &#x9;&#x9;&#x9;
                        h3.thumbname GMT
                        | &#x9;&#x9;&#x9;     
                a(href="../product/13") 
                    #13.thumbnail
                        h2.thumbnum 13
                        | &#x9;&#x9;&#x9;
                        img(src='/images/watchthumb.png', alt='watch thumbnail')
                        | &#x9;&#x9;&#x9;
                        h3.thumbname Special
                        | &#x9;&#x9;&#x9;   
                a(href="../product/14") 
                    #14.thumbnail
                        h2.thumbnum 14
                        | &#x9;&#x9;&#x9;
                        img(src='/images/watchthumb.png', alt='watch thumbnail')
                        | &#x9;&#x9;&#x9;
                        h3.thumbname Hurricane
                        | &#x9;&#x9;&#x9; 
                a(href="../product/15") 
                    #15.thumbnail
                        h2.thumbnum 15
                        | &#x9;&#x9;&#x9;
                        img(src='/images/watchthumb.png', alt='watch thumbnail')
                        | &#x9;&#x9;&#x9;
                        h3.thumbname Georges
                        | &#x9;&#x9;&#x9;      
                a(href="../product/16") 
                    #16.thumbnail
                        h2.thumbnum 16
                        | &#x9;&#x9;&#x9;
                        img(src='/images/watchthumb.png', alt='watch thumbnail')
                        | &#x9;&#x9;&#x9;
                        h3.thumbname Moonphase
                        | &#x9;&#x9;&#x9;   
                a(href="../product/17") 
                    #17.thumbnail
                        h2.thumbnum 17
                        | &#x9;&#x9;&#x9;
                        img(src='/images/watchthumb.png', alt='watch thumbnail')
                        | &#x9;&#x9;&#x9;
                        h3.thumbname Power
                        | &#x9;&#x9;&#x9;   
                a(href="../product/18") 
                    #18.thumbnail
                        h2.thumbnum 18
                        | &#x9;&#x9;&#x9;
                        img(src='/images/watchthumb.png', alt='watch thumbnail')
                        | &#x9;&#x9;&#x9;
                        h3.thumbname Ultra
                        | &#x9;&#x9;&#x9;  
                a(href="../product/19") 
                    #19.thumbnail
                        h2.thumbnum 19
                        | &#x9;&#x9;&#x9;
                        img(src='/images/watchthumb.png', alt='watch thumbnail')
                        | &#x9;&#x9;&#x9;
                        h3.thumbname Lady
                        | &#x9;&#x9;&#x9;                           
            #downnav.vscrollnav 
                img(src='/images/down_arrow.svg', alt='up arrow')
        #info.column
            .overlap
                h1.title #{specs.collection}
                | &#x9;&#x9;
                h1.position  #{specs.id}/19
                | &#x9;
                #dash  
                h3.type #{specs.name}
                | &#x9;
                h3.diameter #{specs.diameter} MM
                | &#x9;
                h4.measure #{specs.calibre}
                | &#x9;
            #categories
                #menu.menusection
                    #movementm.category
                        span.icon-movment_off.general-ui-icon.icon
                        .ctitle
                            | MOVEMENT
                        | &#x9;&#x9;
                    #featuresm.category
                        span.icon-features_off.general-ui-icon.icon
                        .ctitle
                            | FEATURES
                            | &#x9;&#x9;
                    #externalm.category
                        span.icon-externals_off.general-ui-icon.icon
                        .ctitle
                            | EXTERNAL
                            | &#x9;&#x9;
                    #variationsm.category
                        span.icon-variation_off.general-ui-icon.icon
                        .ctitle
                            | VARIATIONS
                            | &#x9;&#x9;
                    #inspirationm.category
                        span.icon-inspiration_off.general-ui-icon.icon
                        .ctitle
                            | INSPIRATIONS
                            | &#x9;&#x9;
                    #buym.category
                        span.icon-buy_off.general-ui-icon.icon
                        br
                        | PRICING
                #movement.menusection
                    .back 
                        img(src='../images/arrow.svg')
                    h2 Movement
                    h3 Frequency
                    h4 #{specs.frequency}
                    h3 Movement
                    h4 #{specs.movement}
                    h3 Calibre
                    h4 #{specs.calibre}
                    h3 Components
                    h4 #{specs.components}
                    h3 Crystal
                    h4 #{specs.crystal}
                    h3 Jewels
                    h4 #{specs.jewels}
                #features.menusection
                    .back 
                        img(src='../images/arrow.svg')
                    h2 Features
                    h3 Water Resistance
                    h4 #{specs.waterResistance} ATM
                    h3 Power Reserve
                    h4 #{specs.powerReserve}
                    h3 Production Model
                    h4 #{specs.productionModel}
                #external.menusection
                    .back 
                        img(src='../images/arrow.svg')
                    h2 External
                    h3 Strap
                    h4 #{specs.strap}
                    h3 Finishing
                    h4 #{specs.finishing}
                    h3 Case Back
                    h4 #{specs.caseBack}
                    h3 Clasp
                    h4 #{specs.clasp}
                    h3 Diameter
                    h4 #{specs.diameter}
                    h3 Thickness
                    h4 #{specs.thickness}
                #variations.menusection
                    .back 
                        img(src='../images/arrow.svg')
                    h2 Variations
                    h3 Number of Variations
                    h4 #{specs.variations}
                #inspirations.menusection
                    .back 
                        img(src='../images/arrow.svg')
                    h2 Inspiration
                    h3 Icon Story
                    h4 #{specs.icon}
                #buy.menusection
                    .back 
                        img(src='../images/arrow.svg')
                    h2 Pricing
                    h3 Price
                    h4 #{specs.price}
                #data.menusection
                    .back 
                        img(src='../images/arrow.svg')
                    h2#watchid #{specs.id}
        #media.column
            #model
                iframe(src='/productmodel', height=500, width=800)
            #plus
                img#plusimg(src='../images/Add_icon.svg')
            #details
                img(src='/images/categories/movement_detail.svg', alt='category details')
                h3 Mobile
                p Why stop here? Take the facet experience for this watch with you by tapping the +. Access the qr code through your mobile phone to continue your experience.
            #backURL(data-url="/watchselection")
    script(src="/javascripts/product.js")
    script(type='text/javascript').
        <!--
        if (screen.width <= 699) {
        document.location = "/mobileproduct";
        }
