extends layout

block content
    #pcontainer
        #vscroll.column
            #upnav ^
            | &#x9;
            #thumbnails
                a(href="../timeline/1900")
                    #1900.thumbnail
                        h2.yearnum 00
                        |             
                        img.corner(src='../images/triangle.svg', alt='overlay')
                        | &#x9;&#x9;&#x9;
                        h3.centnum 19
                        | &#x9;&#x9;&#x9;
                a(href="../timeline/1911")        
                    #1911.thumbnail
                        h2.yearnum 11
                        |             
                        img.corner(src='../images/triangle.svg', alt='overlay')
                        | &#x9;&#x9;&#x9;
                        h3.centnum 19
                        | &#x9;&#x9;&#x9;
                a(href="../timeline/1925")  
                    #1925.thumbnail
                        h2.yearnum 25
                        |             
                        img.corner(src='../images/triangle.svg', alt='overlay')
                        | &#x9;&#x9;&#x9;
                        h3.centnum 19
                        | &#x9;&#x9;&#x9;
                a(href="../timeline/1948")  
                    #1948.thumbnail
                        h2.yearnum 48
                        |             
                        img.corner(src='../images/triangle.svg', alt='overlay')
                        | &#x9;&#x9;&#x9;
                        h3.centnum 19
                        | &#x9;&#x9;&#x9;
                a(href="../timeline/1960")  
                    #1960.thumbnail
                        h2.yearnum 60
                        |             
                        img.corner(src='../images/triangle.svg', alt='overlay')
                        | &#x9;&#x9;&#x9;
                        h3.centnum 19
                        | &#x9;&#x9;&#x9;
                a(href="../timeline/1969")  
                    #1969.thumbnail
                        h2.yearnum 69
                        |             
                        img.corner(src='../images/triangle.svg', alt='overlay')
                        | &#x9;&#x9;&#x9;
                        h3.centnum 19
                        | &#x9;&#x9;&#x9;
                a(href="../timeline/1975")  
                    #1975.thumbnail
                        h2.yearnum 75
                        |             
                        img.corner(src='../images/triangle.svg', alt='overlay')
                        | &#x9;&#x9;&#x9;
                        h3.centnum 19
                a(href="../timeline/1984")  
                    #1984.thumbnail
                        h2.yearnum 84
                        |             
                        img.corner(src='../images/triangle.svg', alt='overlay')
                        | &#x9;&#x9;&#x9;
                        h3.centnum 19
                        | &#x9;&#x9;&#x9;
                a(href="../timeline/1994")  
                    #1994.thumbnail
                        h2.yearnum 94
                        |             
                        img.corner(src='../images/triangle.svg', alt='overlay')
                        | &#x9;&#x9;&#x9;
                        h3.centnum 19
                        | &#x9;&#x9;&#x9;
                a(href="../timeline/2000")  
                    #2000.thumbnail
                        h2.yearnum 00
                        |             
                        img.corner(src='../images/triangle.svg', alt='overlay')
                        | &#x9;&#x9;&#x9;
                        h3.centnum 20
            | &#x9;
            #downnav ^
        #info.column
            .overlap
                .title #{specs.longhand}
                | &#x9;&#x9;
                h1.position #{specs.year}
                #desc #{specs.blurb}
            | &#x9;
            | &#x9;
            #categories
                #menu.menusection
                    #watchesm.category
                        span.icon-watches_off.general-ui-icon.icon
                        .ctitle
                            | WATCHES
                        | &#x9;&#x9;
                    #technologym.category
                        span.icon-technology_off.general-ui-icon.icon
                        .ctitle
                            | TECHNOLOGY
                            | &#x9;&#x9;
                    #eventm.category
                        span.icon-event_off.general-ui-icon.icon
                        .ctitle
                            | EVENT
                            | &#x9;&#x9;
                    #iconm.category
                        span.icon-icon_off.general-ui-icon.icon
                        .ctitle
                            | ICON
                            | &#x9;&#x9;
                    #historym.category
                        span.icon-history_off.general-ui-icon.icon
                        .ctitle
                            | HISTORY
                            | &#x9;&#x9;
                    #achievementsm.category
                        span.icon-buy_off.general-ui-icon.icon
                        .ctitle
                            | ACHIEVEMENTS
                #watches.menusection
                    .back <
                    h2 Watches
                    h4 #{specs.watches}
                #technology.menusection
                    .back <
                    h2 Technology
                    h4 #{specs.technology}
                #event.menusection
                    .back <
                    h2 Event
                    h4 #{specs.event}
                #icon.menusection
                    .back <
                    h2 Icon
                    h4 #{specs.icon}
                #history.menusection
                    .back <
                    h2 History
                    h4 #{specs.history}
                #achievements.menusection
                    .back <
                    h2 Achievements
                    h4 #{specs.achievements}
        #media.column
            #escape
                a(href="/timeselection").go-to-page
                    img(src='../images/watches/close.png')
            #model
                img#timeimg(src="../images/"+specs.img, alt='category details')
     script(src="/javascripts/timeline.js")           