extends layout

block content
    #pcontainer
        #vscroll.column
            #upnav ^
            | &#x9;
            #thumbnails
                .thumbnail
                    h2.yearnum 03
                    |             
                    img.corner(src='images/triangle.png', alt='overlay')
                    | &#x9;&#x9;&#x9;
                    h3.centnum 19
                    | &#x9;&#x9;&#x9;
                .thumbnail
                    h2.yearnum 11
                    |             
                    img.corner(src='images/triangle.png', alt='overlay')
                    | &#x9;&#x9;&#x9;
                    h3.centnum 19
                    | &#x9;&#x9;&#x9;
                .thumbnail.selected
                    h2.yearnum 25
                    |             
                    img.corner(src='images/triangle.png', alt='overlay')
                    | &#x9;&#x9;&#x9;
                    h3.centnum 19
                    | &#x9;&#x9;&#x9;
                .thumbnail
                    h2.yearnum 64
                    |             
                    img.corner(src='images/triangle.png', alt='overlay')
                    | &#x9;&#x9;&#x9;
                    h3.centnum 19
                    | &#x9;&#x9;&#x9;
                .thumbnail
                    h2.yearnum 72
                    |             
                    img.corner(src='images/triangle.png', alt='overlay')
                    | &#x9;&#x9;&#x9;
                    h3.centnum 19
                    | &#x9;&#x9;&#x9;
                .thumbnail
                    h2.yearnum 90
                    |             
                    img.corner(src='images/triangle.png', alt='overlay')
                    | &#x9;&#x9;&#x9;
                    h3.centnum 19
                    | &#x9;&#x9;&#x9;
                .thumbnail
                    h2.yearnum 98
                    |             
                    img.corner(src='images/triangle.png', alt='overlay')
                    | &#x9;&#x9;&#x9;
                    h3.centnum 19
            | &#x9;
            #downnav ^
        #info.column
            .overlap
                .title NINETEEN 25
                | &#x9;&#x9;
                h1.position 1925
                #desc The Manufacture established by George Farve-Jacot definitively adopts the name of Zenith, referring to the highest point.
            | &#x9;
            | &#x9;
            #categories
                #menu.menusection
                    #watchesm.category
                        span.icon-watches_off.general-ui-icon.icon
                        .ctitle
                            | WATCHES
                        | &#x9;&#x9;
                    #technologym.category
                        span.icon-technology_off.general-ui-icon.icon
                        .ctitle
                            | TECHNOLOGY
                            | &#x9;&#x9;
                    #eventm.category
                        span.icon-event_off.general-ui-icon.icon
                        .ctitle
                            | EVENT
                            | &#x9;&#x9;
                    #iconm.category
                        span.icon-icon_off.general-ui-icon.icon
                        .ctitle
                            | ICON
                            | &#x9;&#x9;
                    #historym.category
                        span.icon-history_off.general-ui-icon.icon
                        .ctitle
                            | HISTORY
                            | &#x9;&#x9;
                    #achievementsm.category
                        span.icon-buy_off.general-ui-icon.icon
                        .ctitle
                            | ACHIEVEMENTS
                #watches.menusection
                    .back <
                    h2 Watches
                    h4 #{specs.frequency}
                #technology.menusection
                    .back <
                    h2 Technology
                    h4 #{specs.waterResistance} ATM
                #event.menusection
                    .back <
                    h2 Event
                    h4 #{specs.strap}
                #icon.menusection
                    .back <
                    h2 Icon
                    h4 #{specs.variations}
                #history.menusection
                    .back <
                    h2 History
                    h4 #{specs.icon}
                #achievements.menusection
                    .back <
                    h2 Achievements
                    h4 #{specs.price}
        #media.column
            #escape
                a(href="/watchselection").go-to-page
                    img(src='../images/watches/close.png')
            #model
                img(src='/images/icons/media_watch.png', alt='category details')
     script(src="/javascripts/timeline.js")           